
.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 371px;
    height: 40px;
    left: calc(50% - 371px/2 - 0.5px);
    top: 36px;
    }

.form input {
    border-radius: 4px;
    border-width: 1px;
    width: 272px;
    height: 40px;
    margin-right: 8px;
}
button {
    border-radius: 8px;
    min-width: 91px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.load-more-btn {
    display: block;
    margin: 0 auto;
}

